<a href="https://colab.research.google.com/github/clecio2022dev/DataScience/blob/main/Atividade_sala_26.11.2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [172]:
import numpy as np
import pandas as pd
import matplotlib as plt
plt.style.use('seaborn-talk')
dados = pd.read_csv('/Dados-Pesquisa.csv')

In [173]:
dados.head(1-2)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6280,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
6281,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Mechanical Engineering,NaN
6282,26.0,1.0,1.0,0.0,0.0,4.0,CareerFoundry,NaN,0.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,50000.0
6283,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,18000.0
6284,48.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Business Administration and Management,NaN

In [174]:
dados.shape

(6286, 113)

In [175]:
dados.columns.to_list()

['Age',
 'AttendedBootcamp',
 'BootcampFinish',
 'BootcampFullJobAfter',
 'BootcampLoanYesNo',
 'BootcampMonthsAgo',
 'BootcampName',
 'BootcampPostSalary',
 'BootcampRecommend',
 'ChildrenNumber',
 'CityPopulation',
 'CodeEventBootcamp',
 'CodeEventCoffee',
 'CodeEventConferences',
 'CodeEventDjangoGirls',
 'CodeEventGameJam',
 'CodeEventGirlDev',
 'CodeEventHackathons',
 'CodeEventMeetup',
 'CodeEventNodeSchool',
 'CodeEventNone',
 'CodeEventOther',
 'CodeEventRailsBridge',
 'CodeEventRailsGirls',
 'CodeEventStartUpWknd',
 'CodeEventWomenCode',
 'CodeEventWorkshop',
 'CommuteTime',
 'CountryCitizen',
 'CountryLive',
 'EmploymentField',
 'EmploymentFieldOther',
 'EmploymentStatus',
 'EmploymentStatusOther',
 'ExpectedEarning',
 'FinanciallySupporting',
 'Gender',
 'HasChildren',
 'HasDebt',
 'HasFinancialDependents',
 'HasHighSpdInternet',
 'HasHomeMortgage',
 'HasServedInMilitary',
 'HasStudentDebt',
 'HomeMortgageOwe',
 'HoursLearning',
 'ID.x',
 'ID.y',
 'Income',
 'IsEthnicMinority',
 'IsReceiveDiabilitiesBenefits',
 'IsSoftwareDev',
 'IsUnderEmployed',
 'JobApplyWhen',
 'JobPref',
 'JobRelocateYesNo',
 'JobRoleInterest',
 'JobRoleInterestOther',
 'JobWherePref',
 'LanguageAtHome',
 'MaritalStatus',
 'MoneyForLearning',
 'MonthsProgramming',
 'NetworkID',
 'Part1EndTime',
 'Part1StartTime',
 'Part2EndTime',
 'Part2StartTime',
 'PodcastChangeLog',
 'PodcastCodeNewbie',
 'PodcastCodingBlocks',
 'PodcastDeveloperTea',
 'PodcastDotNetRocks',
 'PodcastHanselminutes',
 'PodcastJSJabber',
 'PodcastJsAir',
 'PodcastNone',
 'PodcastOther',
 'PodcastProgrammingThrowDown',
 'PodcastRubyRogues',
 'PodcastSEDaily',
 'PodcastShopTalk',
 'PodcastTalkPython',
 'PodcastWebAhead',
 'ResourceBlogs',
 'ResourceBooks',
 'ResourceCodeWars',
 'ResourceCodecademy',
 'ResourceCoursera',
 'ResourceDevTips',
 'ResourceEdX',
 'ResourceEggHead',
 'ResourceFCC',
 'ResourceGoogle',
 'ResourceHackerRank',
 'ResourceKhanAcademy',
 'ResourceLynda',
 'ResourceMDN',
 'ResourceOdinProj',
 'ResourceOther',
 'ResourcePluralSight',
 'ResourceReddit',
 'ResourceSkillCrush',
 'ResourceSoloLearn',
 'ResourceStackOverflow',
 'ResourceTreehouse',
 'ResourceUdacity',
 'ResourceUdemy',
 'ResourceW3Schools',
 'ResourceYouTube',
 'SchoolDegree',
 'SchoolMajor',
 'StudentDebtOwe']

In [176]:
df2=dados.copy()

In [177]:
df2.shape

(6286, 113)

In [178]:
dados.isna().sum().sum()

459931

In [179]:
dados.dropna(subset=['Age'], inplace=True)

In [180]:
dados.isna().sum()

Age                        0
AttendedBootcamp          41
BootcampFinish          5793
BootcampFullJobAfter    5908
BootcampLoanYesNo       5794
                        ...
ResourceW3Schools       6090
ResourceYouTube         6077
SchoolDegree              45
SchoolMajor             2298
StudentDebtOwe          4478
Length: 113, dtype: int64

In [181]:
dados.isna().sum().sum()

446346

In [182]:
print('A base de dado apresenta {} linhas e {} colunas'.format(dados.shape[0],dados.shape[1]))

A base de dado apresenta 6128 linhas e 113 colunas

In [183]:
dados.dtypes.value_counts()

float64    87
object     26
dtype: int64

In [184]:
dados

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6281,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Mechanical Engineering,NaN
6282,26.0,1.0,1.0,0.0,0.0,4.0,CareerFoundry,NaN,0.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,50000.0
6283,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,18000.0
6284,48.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Business Administration and Management,NaN
6285,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
#Criando um novo Data Frame apenas com as colunas que queremos:
#dados = [['Age','Gender','JobPref','JobRoleInterest','EmploymentField','JobRelocateYesNo','HoursLearning','MoneyForLearning']]
#dados.
dados

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6281,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Mechanical Engineering,NaN
6282,26.0,1.0,1.0,0.0,0.0,4.0,CareerFoundry,NaN,0.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,50000.0
6283,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,18000.0
6284,48.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Business Administration and Management,NaN
6285,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
dados.describe(include ='O')

,BootcampName,CityPopulation,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,EmploymentStatusOther,Gender,ID.x,...,MaritalStatus,NetworkID,Part1EndTime,Part1StartTime,Part2EndTime,Part2StartTime,PodcastOther,ResourceOther,SchoolDegree,SchoolMajor
count,324,6068,6073,6049,3297,455,5714,322,6108,6128,...,1902,6128,6128,6128,6128,6128,336,771,6083,3830
unique,76,3,136,133,15,341,10,159,5,6128,...,5,6058,6067,6071,6070,6069,255,424,10,286
top,General Assembly,more than 1 million,United States of America,United States of America,software development and IT,Marketing,Employed for wages,Student,male,cef35615d61b202f1dc794ef2746df14,...,married or domestic partnership,7f88075403,2016-03-31 15:13:32,2016-04-05 16:14:41,2016-03-30 13:34:11,2016-03-30 21:10:49,Developer Tea,Treehouse,bachelor's degree,Computer Science
freq,30,2408,2857,2996,1777,12,3159,114,4782,1,...,1426,21,3,3,2,2,19,81,2529,605

In [187]:
dados.shape

(6128, 113)

In [188]:
#usando Loc 

dados.loc[dados['Age']> 30]

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
5,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,English,NaN
7,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,master's degree (non-professional),Education,NaN
8,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,bachelor's degree,Business Administration,NaN
9,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,master's degree (non-professional),Business Administration,180000.0
10,57.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Computer Science,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6266,44.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Communications,NaN
6267,42.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,40000.0
6280,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
6281,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Mechanical Engineering,NaN
6284,48.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Business Administration and Management,NaN

In [189]:
dados['Age'].unique()

array([28., 22., 19., 26., 20., 34., 23., 35., 33., 57., 27., 47., 37.,
       31., 29., 30., 32., 25., 44., 21., 24., 18., 39., 41., 43., 36.,
       40., 38., 16., 46., 15., 14., 50., 49., 45., 55., 51., 17., 53.,
       52., 48., 56., 42., 54., 58., 65., 59., 75., 61., 80., 62., 60.,
       66., 12., 11., 13., 63., 64., 70., 73., 69., 71., 68.])

In [190]:
dados.Age.unique()

array([28., 22., 19., 26., 20., 34., 23., 35., 33., 57., 27., 47., 37.,
       31., 29., 30., 32., 25., 44., 21., 24., 18., 39., 41., 43., 36.,
       40., 38., 16., 46., 15., 14., 50., 49., 45., 55., 51., 17., 53.,
       52., 48., 56., 42., 54., 58., 65., 59., 75., 61., 80., 62., 60.,
       66., 12., 11., 13., 63., 64., 70., 73., 69., 71., 68.])

In [ ]:
#Qual é a Distribuição de idade dos participantes da pesquisa?
#Variável Age
idade = dados.Age #dados['Age']

#Histograma
plt.hist(idade, label="idades", color='green')
plt.title('Distribuição por Idades')
plt.xlabel('Idades')
plt.ylabel('Quantidade')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
tipos_de_genero = dados.Gender

In [ ]:
dados.Gender.value_counts()

In [ ]:
tipos_de_genero.columns.name = 'Tipo'

In [ ]:
tipos_de_genero.iloc[0]

In [ ]:
feminino = tipos_de_genero.loc['female']
feminino

In [ ]:
total_genero = dados.Gender.value_counts().sum()
total_genero

In [ ]:
#selecionando linha female e tirando a porcentagem
fem = (feminino/total_genero*100)

In [ ]:
genero = dados.Gender.value_counts()
genero

In [ ]:
interesses = dados.JobRoleInterest.value_counts()
interesses.plot(kind = 'bar')

In [ ]:
#grafico de pizza
interesses = dados.JobRoleInterest.value_counts()
plt.pie(interesses, startangle=90)
plt.legend(interesses.index, bbox_to_anchor=(1,0.9))
plt.show()